<!DOCTYPE HTML>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript" src="js/jquery-1.7.1.js" ></script>
        <script type="text/javascript" src="js/TestHTML.js" ></script>
        <link rel="stylesheet" type="text/CSS" href="style/TestHTML.css">
        <link rel="stylesheet" type="text/CSS" href="style/ListElement.css">
    </head>
    <body>

        <div id="top-bar">
            <form>
            <span id="search-box" >
                <input type="text" style="width: 85%;float: left;border: 0px;outline: none;">
                <button type="submit" style="width: 9%;float: right;"> </button>
            </span>
</form>
        </div>
        <div id ="main-body">
            <div id="list" class="middle-elements">
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
                <div class="list-element">
                    <span class="list-element-heading">Heading of the fun place</span>
                    <br>
                    <span class="list-element-detali">address of the fun place</span>
                    <br>
                    <span class="list-element-link"><a href="">www.link.com</a></span>
                    <br>
                    <span class="list-element-tag" > tag</span>
                </div>
            </div>
            <div class="gallery">

            <div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>
<div class="phone-box middle-elements">
                <img src="img/a.jpg" alt="image" style="height: 100%;width: 100%;">
                <span class="phone-price">Rs 50,000</span>
            </div>

</div>
            

                
            

        </div>

    </body>
</html>
